src/main/java/br/itarocha/quartz/xsd/accessItens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="accessItens" type="TAccessItens"/>
  <xs:complexType name="TAcessItem">
    <xs:sequence>
      <xs:element type="xs:string" name="acessId"/>
      <xs:element type="xs:string" name="acronym"/>
      <xs:element type="xs:byte" name="sequence"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAccessItens">
    <xs:sequence>
      <xs:element type="TAcessItem" name="acessItem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>