src/main/java/br/itarocha/quartz/xsd/i18n.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="text" type="xs:string"/>
  <xs:element name="i18n">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="key" use="required"/>
      <xs:attribute type="xs:string" name="locale" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="itensI18n">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="i18n" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>