src/main/java/br/itarocha/quartz/xsd/table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="table" type="TTable"/>
  
  <!-- Pode ser colocado em qualquer ordem. É obrigatório. Elemento PT_BR é obrigatório. Outros são opcionais -->
  <xs:complexType name="TDescriptions">
    <xs:all maxOccurs="1">
      <xs:element type="xs:string" name="PT_BR" maxOccurs="1"/>
      <xs:element type="xs:string" name="EN_US" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="ES_ES" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TField">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="TDescriptions" name="descriptions"/>
      <xs:element type="TFieldOptions" name="fieldOptions"/>
      <xs:element type="TFieldProperties" name="fieldProperties"/>
      <xs:element type="xs:string" name="expression"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="dataType" use="required"/>
    <xs:attribute type="xs:string" name="presentationType" use="required"/>
    <xs:attribute name="calculated">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1"/>
          <xs:pattern value="[N|S]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>    

    <xs:attribute name="allowSearch">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1"/>
          <xs:pattern value="[N|S]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>    

    <xs:attribute name="allowDefault">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1"/>
          <xs:pattern value="[N|S]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>    

    <xs:attribute name="visibleOnSearch">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1"/>
          <xs:pattern value="[N|S]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>    

    <xs:attribute name="isPresentation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1"/>
          <xs:pattern value="[N|S]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>    

    <xs:attribute type="xs:int" name="order" use="optional"/>

    <xs:attribute type="xs:int" name="size" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TOption">
    <xs:sequence>
      <xs:element type="TDescriptions" name="descriptions"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="value" use="required"/>
    <xs:attribute type="xs:string" name="order" use="optional"/>
    <xs:attribute type="xs:string" name="padrao" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TFieldOptions">
    <xs:sequence>
      <xs:element type="TOption" name="option" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TProp">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TFieldProperties">
    <xs:sequence>
      <xs:element type="TProp" name="prop" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TFields">
    <xs:sequence>
      <xs:element type="TField" name="field" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TTable">
    <xs:sequence>
      <xs:element type="TDescriptions" name="descriptions"/>
      <xs:element type="TFields" name="fields"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="sequenceType" use="optional"/>
    <xs:attribute type="xs:string" name="sequenceField" use="optional"/>
  </xs:complexType>
</xs:schema>